body {
  font-family:Gotham SSm A, Gotham SSm B, Verdana, sans-serif;
  padding: 10px;
  background: white;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  font-decoration: underline;
}

hr {
    display: block;
    border-style:inset;
    border-color:#b30000;
    background-color:#b30000;
    height: 2px;
    border: 0;
}

.topnav {
  overflow: hidden;
  background-color: #b30000;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration:none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #d00000;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to topnav links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b30000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d00000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  background-color: #d00000;
  text-align: center;
  color: white;
  padding: 20px;
}

ul {
    list-style:none;
}

ul li::before {
    content: "\2022";
    color: #b30000;
    font-weigth: bold;
    display:inline-block;
    width:1em;
    margin-left:-1em;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-style: solid;
  border-color: #d00000;
}
